/com.ibm.etools.j2ee.ui.prefs
/com.ibm.ut.ic.server.prefs
/com.ibm.wdt.preferences.prefs
/com.ibm.ws.ast.st.core.prefs
/org.eclipse.core.resources.prefs
/org.eclipse.debug.ui.prefs
/org.eclipse.egit.core.prefs
/org.eclipse.epp.logging.aeri.ide.prefs
/org.eclipse.help.base.prefs
/org.eclipse.jdt.core.prefs
/org.eclipse.jdt.debug.prefs
/org.eclipse.jdt.launching.prefs
/org.eclipse.jdt.ui.prefs
/org.eclipse.jst.j2ee.webservice.ui.prefs
/org.eclipse.jst.jsf.core.prefs
/org.eclipse.jst.jsf.facesconfig.ui.prefs
/org.eclipse.jst.ws.consumption.ui.prefs
/org.eclipse.jst.ws.prefs
/org.eclipse.mylyn.context.core.prefs
/org.eclipse.mylyn.monitor.ui.prefs
/org.eclipse.mylyn.tasks.ui.prefs
/org.eclipse.pde.api.tools.prefs
/org.eclipse.rse.core.prefs
/org.eclipse.rse.ui.prefs
/org.eclipse.ui.prefs
/org.eclipse.wst.jsdt.core.prefs
/org.eclipse.wst.jsdt.ui.prefs
/org.eclipse.wst.server.ui.prefs
/org.eclipse.wst.validation.prefs
/org.eclipse.wst.web.prefs
/org.eclipse.wst.ws.service.policy.prefs
/org.eclipse.wst.wsdl.ui.prefs
/org.eclipse.wst.xsd.ui.prefs
/org.jboss.ide.eclipse.as.ui.prefs
/org.teiid.designer.core.prefs
