/background_img.jpg
/background_img.png
/background_img.svg
/background_img_bottom.png
/background_img_bottom.svg
/icon-addtools.png
/icon-addtools.svg
/icon-community.png
/icon-community.svg
/icon-default.png
/icon-html5.png
/icon-hybridmobile.gif
/icon-info.png
/icon-info.svg
/icon-javaee.gif
/icon-openshift.gif
